img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

body {
    text-align: center;
    font-family: "Comfortaa";
    margin-top: 50px;
    background-color: rgb(12, 12, 12);
    color: white;
}

#desc {
    font-size: 18px;
    font-weight: bold;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

a {
    background-color: grey;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

button {
    background-color: grey;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: darkgrey;
}
